.very-latest-post {
    padding: 10px 20px;
}
.breadcrumb a {
    color: #a52a2a;
}
.scroll-btn-close {
	color: #fff;background: rgba(162,42,42,1);
} 
.nav-bottom-border{
	height: 37px;
	position: absolute; 
	top: 40px;
	right: 0;
	width: 14%;
	background:url(../images/nav-block.png) ; 
}
.breadcrumb-cont{
	background:transparent;t
}
.breadcrumb{
}
.breadcrumb a {a
    color: #a52a2a;
	font-size:14px;
	font-weight:600;
}
.breadcrumb a:hover{
      color: #a52a2a;
}

.breadcrumb > .active {
    color: #000;
	font-weight:600;
	font-size:14px;
}
.breadcrumb > li + li:before {
    content: "\203A";
    color: #a52a2a;
    padding: 0 8px;
}

.main-navigation > ul > li > ul li a:hover{
	background:rgba(165, 42, 42,1);
	background-image:url(../images/hoverPatch.png);
	color:#fff;
}

hr.sm {
    height: 9px;
    background:url('../images/underline.png');
	width:100px;
}


#thumbs2 .grid-item{
	position:relative;
	margin-bottom:20px;
    border-radius: 20px 0px 20px 0px;
    -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.3);
	background-position: 0px 0px;
	border-color:rgba(255,255,255,0.4);
	background: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0));
}
/*
.grid-content:after{
content: '';
	position: absolute;
	border-radius:20px 0px 0px 0px;
	top: 40%;
	left: 10px;
	width: calc(100% - 15px);
	height: 5px;
	background-position: 0px 0px;
	border-color:rgba(255,255,255,0.4);
	
	background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.1));
}*/

body{
	 background: url('../images/back-home.png') ;
	 background-repeat:repeat-y;
	 -webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	
}

.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;}
.gallery-updates.cols5 > ul > li {
    width: 25%;
}
.ckdiv p{
	color: rgb(165, 42, 42);
}
.site-header.sticky-header {
	display:initial;
}

.list-group-item, .list-group-item a, .list-group-item {
	font-family: 'Sansita', sans-serif;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    border-color: rgb(165, 42, 42);
	background:rgba(165, 42, 42,1);
	background-image:url(../images/hoverPatch.png);
	color:#fff;
	font-family: 'Sansita', sans-serif;
}
.list-group-item.active a, .list-group-item.active:hover a, .list-group-item.active:focus a{
    
	background-image:url(../images/hoverPatch.png);
	font-family: 'Sansita', sans-serif;
	color:#fff;
}

.widget li {
    margin-bottom: 0px;
    padding-bottom: 0px;
	font-weight:500;
}

/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 5px;
}
.modal-content{
	
	 background:url(../images/back-home.png);
	 background-position:50% ;
}

.btn-primary{
	border-radius:50px;
	background:transparent;
	outline:none;
	color:#e32c28;
	min-width:130px;
	position:relative;
	border-color:rgba(255,255,255,0.4);
	-moz-box-shadow:  -1px 2px  0px 0px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow:  -1px 2px  0px 0px rgba(0, 0, 0, 0.05);
    box-shadow: -1px 2px  0px 0px rgba(0, 0, 0, 0.05);
}
.btn-primary:visited , .btn-primary:focus{
	border-radius:50px;
	background:transparent;
	outline:none;
	border-color:rgba(255,255,255,0.4);
	color:#e32c28;
	outline:none !important;
}
.btn-primary:after{
	content: '';
	position: absolute;
	border-radius:50px;
	top: 0px;
	left: 10px;
	width: calc(100% - 15px);
	height: 60%;
	background-position: 0px 0px;
	border-color:rgba(255,255,255,0.4);
	
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}

.btn-primary:hover{
	border-color:rgba(255,255,255,0.4);
	border-radius:50px;
	color:#e32c28;
	outline:none;
	background:transparent;
}

.btn-primary:active{
	-moz-transform: scale(0.98);
	-webkit-transform: scale(0.98);
	transform: scale(0.9);
	-moz-box-shadow:  0px 0px  0px 0px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow:  0px 0px  0px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px  0px 0px rgba(0, 0, 0, 0.05);
	outline:none;
}


.btn-primary:visited , .btn-primary:focus{
	border-radius:50px;
	border-color:rgba(255,255,255,0.2);
	color:#e32c28;
	-moz-transform: scale(0.98);
	-webkit-transform: scale(0.98);
	transform: scale(0.98);
	outline:none !important;
}
/*
.btn-primary{
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    background: tranparent;
}
*/

.is-active {
  box-shadow: 0 20px 5px -10px rgba(#000, 0.4);
  transform: translateY(10px);
}

.social-network  a:hover{
background:rgba(221, 221, 221, 1);}
/* footer social icons */
.social-network a.icoRss {
	background-color: #F56505;
}
.social-network a.icoFacebook {
	background-color:#3B5998;
}
.social-network a.icoTwitter {
	background-color:#33ccff;
}
.social-network a.icoGoogle {
	background-color:#BD3518;
}
.social-network a.icoVimeo {
	background-color:#0590B8;
}
.social-network a.icoLinkedin {
	background-color:#007bb7;
}
.social-network a.icoYouTube {
	background-color:#e32c28;
}
.social-network a.icoInstagram {
	    margin-top: -4px;
		background:transparent;
}
.social-network a.icoInstagram img {
	    margin-top: -4px;
		box-shadow:none;
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i, .social-network a.icoYouTube:hover i, .social-network a.icoInstagram:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 32px;
	height: 32px;
	font-size:15px;
}
.social-circle li i {
	margin:0;
	line-height:34px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
.social-circle li a:hover img {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
	margin-top:-4px;
}
.social-circle img {
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
	margin-top:-4px;
}


/*Fonts Book */

h1 {
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}
h2 {
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	font-size: 22px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}
h3 {
	font-family: Georgia, serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 10px;
}
p {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	line-height: 26px;
	text-align:justify;
	color:#000;
}
blockquote {
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
pre {
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
ol,ul{
	color:#000;
}
.list-group-item {
background:transparent;
border: 0px;
	border-bottom:none;
}
.list-group-item:hover {


background:url(../images/hoverPatch_1.png);
	color:#fff;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent !important;
}
.list-group-item a:hover {
color:#fff;
background:url(../images/hoverPatch_1.png);
	
}
.list-group-item .active a:hover {
color:#fff;
background:transparent;
	
}
.nav-pills .current a{
	color:rgb(165, 42, 42);
	
}
.nav-pills .current a:hover{
	color:#fff;
	
}
.nav-pills {
	background: linear-gradient(rgba(255,255,255,0.2) ,rgba(255,255,255,0.2));
	-moz-box-shadow:  -3px 3px 5px 0px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow:  -3px 3px 5px 0px rgba(0, 0, 0, 0.05);
    box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.05);
	
}
.nav-pills li .active{
	border:0px;
}
.nav-pills li{
	padding: 5px;
}

.nav-stacked > li + li {
    margin-top: 0px;
    margin-left: 0;
}
.nav-pills > li > a {
     background-color: tranparent;
	 padding:5px;
}
/*animation down*/

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
/*animation left*/

@-moz-keyframes bounce-left {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateX(50px);
    transform: translateX(50px);
  }
  40% {
    -moz-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  60% {
    -moz-transform: translateX(-15px);
    transform: translateX(-15px);
  }
}
@-webkit-keyframes bounce-left {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
  60% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
}
@keyframes bounce-left {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  40% {
    -moz-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
  60% {
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
}

.bounce-left {
  -moz-animation: bounce-left 2s infinite;
  -webkit-animation: bounce-left 2s infinite;
  animation: bounce-left 2s infinite;
  margin-left:15px;
}

.site-footer-bottom {
    padding: 5px 0 0;
    color: #999;
    font-size: 12px !important;
}

/*media index section*/

/*
 * Caption component
 */
.caption {
    position: relative;
    overflow: hidden;

    /* Only the -webkit- prefix is required these days */
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}

.caption::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    transition: background .35s ease-out;
}




.caption__media {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
}

.caption__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: rgb(165, 42, 42);
}
.withbackground:hover {
    background: rgba(165, 42, 42,0.5);
}
.caption__overlay__title {
  opacity:0;
  margin-top: 25%;
}

.caption:hover .caption__overlay__title {
     opacity:1;
}
.gallery-updates .format-image{background:#fff;}

.main-navigation > ul > li > a {
    display: block;
    color: rgb(165, 42, 42);
    padding: 0 8px;
    line-height: 30px;
    font-weight: 600;
	margin-top:10px;
}
.sticky-header .main-navigation > ul > li > a {
    font-family: inherit; 
    font-size: inherit; 
}

.main-navigation > ul > li > ul li > a {
    font-weight: 600;
}

.lead-content-wrapper {
    border-radius: 5px;
}
.very-latest-post h4 {
    text-transform: initial;
}
.upper-nav-bar{
	float:right !important;
	
}
.upper-nav-bar li{
	padding-right:0px;
	
	margin-top:-10px;
}

.upper-nav-bar li input{
    color: rgb(165, 42, 42);
}

.upper-nav-bar li input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    
    color: rgb(165, 42, 42);
}
.upper-nav-bar li input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   
    color: rgb(165, 42, 42);
   opacity:  1;
}
.upper-nav-bar li input::-moz-placeholder { /* Mozilla Firefox 19+ */
   
    color: rgb(165, 42, 42);
   opacity:  1;
}
.upper-nav-bar li input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   
    color: rgb(165, 42, 42);
}
.upper-nav-bar li input::-ms-input-placeholder { /* Microsoft Edge */
   
    color: rgb(165, 42, 42);
}


 input.transparent-input{
       background-color:rgba(0,0,0,0) !important;
	   border:1px solid rgb(165, 42, 42);
    }
 input.transparent-input:focus{
       background-color:rgba(0,0,0,0) !important;
	   border:1px solid rgb(165, 42, 42);
    }

.img-hover img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
    background:rgba(165, 42, 42,0.4);
}

.img-hover:hover .overlay {
  opacity: 1;
}

/** gallery slider **/


.thumbnails li> .fff .caption { 
    background:#fff !important; 
    padding:10px
}

.img-effect img { 
    -webkit-transition: all 1 ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.img-effect  { 
	overflow:hidden;
}
.img-effect img:hover{ 
    
    -webkit-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
	opacity:0.8;
}
.thumbnail { 
    padding:10px;
    background:transparent;
    border:none;
    margin-bottom:0px;
    display: table;
    width: 100%;
}
 .photo-gal > div { 
   
	overflow:hidden;
	height:150px;
	position:relative;
    vertical-align: bottom;
    display: table-cell;
}
.thumbnail img { 
    /*-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    position:absolute;*/
    bottom:5px;
}
.thumbnail img:hover{ 
    
    filter: sepia(90%);
	opacity:0.6;
}


ul.thumbnails { 
    margin-bottom: 0px;
}



/* Thumbnail Box */
.caption h4 {
    color: #000;
}

/* Carousel Control */
.control-box {
    text-align: right;
    width: 100%;
}
.carousel-control{
    background: #666;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px 0px;
    position: static;
    height: 30px;
    width: 15px;
}



/* Mobile Only */
@media (max-width: 767px) {
    .page-header, .control-box {
        text-align: center;
    } 
}
@media (max-width: 479px) {
    .caption {
        word-break: break-all;
    }
}


.thumbnails li { list-style-type:none;}

.wait {
    text-align:center;
    display:none;
    border:0px solid black;
    padding:2px;
	

}
.lSAction > a{
	top:40%;
	
}
.current .fff .thumbnail{
	background:rgb(165, 42, 42);
}
.current .fff .thumbnail   a h4{
	color:#fff;
}

.footer_widget a{font-weight: 600;}

.slideControls{
  position: absolute;
    width: 100%;
    top: 30%;
	padding:10px;
	z-index:99;
	left:0;
}

 .slideControls  a{
   width:32px;
   height:32px;
   border-radius:50%;
    background: rgb(165, 42, 42);
	color:#fff;
	text-align:center;
	position:relative;
	
   
	padding:0px
  }
 .slideControls  i{
    font-size:30px;
	padding:0px
  }
.slideControls  .slideNext{
    right:0;
	
    position:absolute;
    cursor:pointer;
  }
.slideControls  .slidePrev{
    left:0;
    position:absolute;
    cursor:pointer;
  }
.carousel{
  padding:15px 25px;
  position:relative;}
  
img { /*width:100%;*/ }
  
  .slide{padding:20px;
    text-align:center;
    
    height:50px;
  }


/*Sthan Cards*/

.shape-text{
    color:#fff; font-size:12px; font-weight:bold; position:relative; right:-40px; top:2px; white-space: nowrap;
	-ms-transform:rotate(30deg); /* IE 9 */
	-o-transform: rotate(360deg);  /* Opera 10.5 */
	-webkit-transform:rotate(30deg); /* Safari and Chrome */
	transform:rotate(30deg);
}

.project {
    min-height:250px;
    height:auto;
}

.project{
    background:#fff; border:1px solid #ddd; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); margin: 15px 0; overflow:hidden;
}

.project-radius{
    border-radius:7px;
}

.project-default {    border-color: #999999; }
.project-default .shape{
	border-color: transparent #999999 transparent transparent;
	border-color: rgba(255,255,255,0) #999999 rgba(255,255,255,0) rgba(255,255,255,0);
}

.project-danger {    border-color: #d9534f; }
.project-danger .shape{
	border-color: transparent #d9534f transparent transparent;
	border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}

.project-success {	border-color: #5cb85c; }
.project-success .shape{
	border-color: transparent #5cb85c transparent transparent;
	border-color: rgba(255,255,255,0) #5cb85c rgba(255,255,255,0) rgba(255,255,255,0);
}

.project-primary {	border-color: #428bca; }
.project-primary .shape{
	border-color: transparent #428bca transparent transparent;
	border-color: rgba(255,255,255,0) #428bca rgba(255,255,255,0) rgba(255,255,255,0);
}

.project-info {	border-color: #5bc0de; }
.project-info .shape{
	border-color: transparent #5bc0de transparent transparent;
	border-color: rgba(255,255,255,0) #5bc0de rgba(255,255,255,0) rgba(255,255,255,0);
}

.project-warning {	border-color: #f0ad4e; }
.project-warning .shape{
	border-color: transparent #f0ad4e transparent transparent;
	border-color: rgba(255,255,255,0) #f0ad4e rgba(255,255,255,0) rgba(255,255,255,0);
}

.project-content {
    padding:0 20px 10px;
}

.site-footer {
    padding: 40px 0;
}

.home-intro-custom{
    
    width:100%;
    height:100vh;
    
}
.padding-md-80{
    padding-left:80px;
}
@media only screen and (max-device-width: 768px){
.page-header{
    background-size:contain;
    min-height:200px;
    height:250px;
}
.modal .page-header{
    background-image:none !important;
   
    min-height:200px;
    height:250px;
}

.home-intro-custom{
    height:auto;
}

.padding-md-80{
    padding-left:15px;
}
}

.modal .close {
    color: rgb(165,42,42);
    text-shadow: 0px; 
    opacity: 1; 
}
.page-header{
    
  background-color: transparent;
}

@media only screen and (min-device-width: 1500px){
    .nav-bottom-border{
        width:20%;
    }
}

@media only screen and (min-device-width: 1900px){
    .nav-bottom-border{
        width:22%;
    }
}
.accordion-heading .accordion-toggle.active, .accordion-heading:hover .accordion-toggle.active, .accordion-heading:focus .accordion-toggle.active{
    background:url('../images/nav_back.png');
}
.accordion-heading .accordion-toggle, .accordion-heading:hover .accordion-toggle, .accordion-heading:focus .accordion-toggle{
    font-weight:600;
   /* background:url('../images/nav_back.png');
    color:#fff;*/
}
