/* html, body {margin: 0!important; height: 100%!important; overflow: hidden!important} */

body {
  /* background-color: lightgray !important; */
  /* font-family: calibri, 'sans-serif'; */
  background: url('/img/colourwave.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
}

h3 {
  background-color: white!important;
  padding: 0.5em!important;
}

h4 {
  background-color: white!important;
  padding: 0.5em!important;
  width: auto!important;
  font-weight: 900;
}

p {
  color: midnightblue!important;
}

#sidebar {
  position: absolute;
  left: -44.75vw;
  height: 125vh;
  margin-top: -5.9px;
}

.main-contentsLandscape {
  margin-left: 27vw !important;
  width: 73vw !important;
  margin-top: -3.25vh;
}

.main-contentsPortrait {
  margin-left: 15vw !important;
  width: 82.5vw !important;
  margin-top: -2.5vh;
}

.logoAnim {
  animation: zoom-in-zoom-out 1s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

/* .animate {
  --borderWidth: 3px;
  border-color: turquoise;
  position: relative;
  border-radius: var(--borderWidth);
}

.animate::after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  -webkit-animation: animatedgradient 3s ease alternate infinite;
          animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
} */

/* @-webkit-keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */

.innerContents {
  /* background: rgba(0, 0, 0, 0.5); */
}

.animate {
  display: grid;
  place-content: center;
  position: relative;
  /* border: solid 1.5em rgba(239, 239, 239, 0.05);
  padding: 0 1em; */
  
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), 2px 2px 17px rgba(0, 0, 0, 0.35), 2px 2px 25px rgba(0, 0, 0, 0.5);
  background: url("../img/bg2.jpg") 50%/cover border-box padding-box; */

  background-blend-mode: screen;
  color: #fff;
  /* height: 75vh; */
  font-weight: 500!important;
}

/* 
.animate:before {
  position: absolute;
  z-index: -1;
  top: -1.5em;
  right: -1.5em;
  bottom: -1.5em;
  left: -1.5em;
  border: inherit;
  border-color: transparent;
  background: inherit;
  background-clip: border-box;
  -webkit-filter: blur(9px);
  filter: blur(9px);
  -webkit-clip-path: inset(0);
  clip-path: inset(0);
  content: "";
} */

.details-panel {
  overflow: hidden;
  padding-bottom: 75px;
  margin-top: 10.9vh;
}

/*  	background-image: linear-gradient(lightgrey, grey); */

/*  	background-image: linear-gradient(#0d4777, #00d4ff); */

/* 
  background: #013e73;
     background-image: linear-gradient(#013e73, #0273bb); /*         same as login */

.topToolBarBgLandscape {
  background: white;
  padding-bottom: 0.5vh;
  /* height: 11.5vh; */
}

.topToolBarBgPortrait {
  background: white;
  padding-bottom: 0.5vh;
}

/* Fonts */

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  transition: opacity 0.3s, transform 0.3s;
  /* 	  zoom: 1.05; */
  /* -webkit-text-stroke: 1.15px #0273bb; */
  cursor: pointer;
  /* 	  padding-right:2.5px; */
  /* 	  background-color: white; */
}

.fa {
  cursor: pointer;
}

.fa:hover, iconText:hover {
  transition: opacity 0.3s, transform 0.3s;
  /*   zoom: 1.05; */
  -webkit-text-stroke: 1.15px #013e73;
  cursor: pointer;
  /*   padding-right:2.5px; */
}

/* Misc */

.moreInfo {
  border-radius: 2.5%;
  border: 1px solid black;
}

.navText {
  font-size: 1rem;
  font-weight: 700;
  padding-left: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0;
}

ul.sidebar-menu li.active::before {
  content: "";
  display: block;
  height: 18px;
  margin: 12px auto 0 0;
  position: absolute;
  width: 8px;
  z-index: 1;
}

.clientContainer:hover {
  /* 	zoom: 1.1; */
  cursor: pointer;
}

::placeholder {
  color: #013e73 !important;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #013e73 !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #013e73 !important;
}

/*** Background Colours ***/

.themeBg {
  background-image: linear-gradient(#013e73, #0273bb);
}

.makeTransparent {
  -webkit-text-stroke: 0.7px #013e73;
  -webkit-text-fill-color: transparent;
}

.navbar-fixed-bottom {
  background: whitesmoke;
}

.btnBg {
  background: whitesmoke;
  /*  	background-image: linear-gradient(#2193b0, #6dd5ed); */
}

.bottomToolBarBg {
  /* background-image: linear-gradient(lightgrey, darkslategrey); */
  background-color: whitesmoke !important;
}

.toolBarBtnsTop {
  background: lightgrey;
  /*  	background-image: linear-gradient(#6dd5ed, #2193b0); */
}

.toolBarBtnsBottom {
  background: black;
  /*  	background-image: linear-gradient(#6dd5ed, #2193b0); */
}

.visitCalendarPickerBg {
  background: transparent;
}

/*** Foreground Text Colours, Sizes & Styling ***/

fa {
  color: darkslategrey;
}

.btnFg {
  color: #013e73;
}

.visitCalendarPickerFg {}

/*** Others ***/

.currentDayView {
  text-transform: capitalize;
  padding: 1.5rem;
}

.toolBarBtnsTopNav {
  border-radius: 1.5rem;
  color: darkslategrey;
}

.login_container {
  margin: 15% auto 0 auto;
  max-width: 400px;
}

.loginBoxesContainer {}

.searcgClientBox {
  border-radius: 0.5rem;
}

.clientContainer {
  cursor: pointer;
}

/* Login */

.login-bakg {
  /* background-image: url("../img/colourwave.png"); */
  background-size: cover;
  height: 100%;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  overflow: hidden;
  padding: 0 !important;
  position: fixed;
  width: 100%;
}

.login_content {
  text-align: center;
  color: hsl(0, 0%, 100%);
}

.login_content a:hover {
  text-decoration: underline
}

.login_content h1 {
  font: 400 35px Helvetica, Arial, sans-serif;
  letter-spacing: -.05em;
  line-height: 20px;
  margin: 10px 0 30px
}

.login_content h1:after, .login_content h1:before {
  content: "";
  height: 0px;
  position: absolute;
  top: 10px;
  width: 20%
}

.login_content h1:after {
  background: #7e7e7e;
  background: linear-gradient(left, #7e7e7e 0, #fff 100%);
  right: 0
}

.login_content h1:before {
  background: #7e7e7e;
  background: linear-gradient(right, #7e7e7e 0, #fff 100%);
  left: 0
}

.login-button {
  border-radius: 0.5rem;
}

.login_content form div a {
  font-size: 17px;
  margin: 10px 15px 0 0;
  padding: 8px 50px;
  color: #50a3b0;
}

.reset_pass {
  margin-top: 10px !important
}

.login_content div .reset_pass {
  margin-top: 13px !important;
  margin-right: 39px;
  float: right
}

.separator {
  border-top: 1px solid #D8D8D8;
  margin-top: 10px;
  padding-top: 10px
}

.button {
  background: #f7f9fa;
  background: linear-gradient(top, #f7f9fa 0, #f0f0f0 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f7f9fa', endColorstr='#f0f0f0', GradientType=0);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset;
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid #CFD5D9;
  padding: 15px 0
}

#content form .submit, .login_content form input[type=submit] {
  float: left;
  margin-left: 38px
}

.button a {
  background: url(url/8/8bcLQqF.png) 0 -112px no-repeat;
  color: #7E7E7E;
  font-size: 17px;
  padding: 2px 0 2px 40px;
  text-decoration: none;
  transition: all .3s ease
}

.button a:hover {
  background-position: 0 -135px;
  color: #00aeef
}

header {
  width: 100%
}

#nprogress .bar {
  background: #1ABB9C
}

#nprogress .peg {
  box-shadow: 0 0 10px #1ABB9C, 0 0 5px #1ABB9C
}

#nprogress .spinner-icon {
  border-top-color: #1ABB9C;
  border-left-color: #1ABB9C
}

.editor-wrapper {
  min-height: 250px;
  background-color: #fff;
  border-collapse: separate;
  border: 1px solid #ccc;
  padding: 4px;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, .07451) 0 1px 1px 0 inset;
  overflow: scroll;
  outline: 0;
  border-radius: 3px
}

.voiceBtn {
  width: 20px;
  color: transparent;
  background-color: transparent;
  transform: scale(2, 2);
  -webkit-transform: scale(2, 2);
  -moz-transform: scale(2, 2);
  border: transparent;
  box-shadow: none;
  -webkit-box-shadow: none
}

div[data-role=editor-toolbar] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
  min-height: 38px
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #73879C;
  padding-top: 5px
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  padding-top: 3px
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 36px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice, .select2-container--default .select2-selection--multiple .select2-selection__clear {
  margin-top: 2px;
  border: none;
  border-radius: 0;
  padding: 3px 5px
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid #ccc
}

.switchery {
  width: 32px;
  height: 20px
}

.switchery>small {
  width: 20px;
  height: 20px
}

fieldset {
  border: none;
  margin: 0;
  padding: 0
}

.cropper .img-container, .cropper .img-preview {
  background-color: #f7f7f7;
  width: 100%;
  text-align: center
}

.cropper .img-container {
  min-height: 200px;
  max-height: 516px;
  margin-bottom: 20px
}

.cropper .docs-data>.input-group, .cropper .docs-toggles>.btn, .cropper .docs-toggles>.btn-group, .cropper .docs-toggles>.dropdown, .cropper .img-preview {
  margin-bottom: 10px
}

@media (min-width:768px) {
  .cropper .img-container {
    min-height: 516px
  }
}

.cropper .docs-preview {
  margin-right: -15px
}

.cropper .img-preview {
  float: left;
  margin-right: 10px;
  overflow: hidden
}

.cropper .preview-lg {
  width: 263px;
  height: 148px
}

.cropper .preview-md {
  width: 139px;
  height: 78px
}

.cropper .preview-sm {
  width: 69px;
  height: 39px
}

.cropper .preview-xs {
  width: 35px;
  height: 20px;
  margin-right: 0
}

.cropper .docs-data>.input-group>label {
  min-width: 80px
}

.cropper .docs-data>.input-group>span {
  min-width: 50px
}

.cropper .docs-buttons>.btn, .cropper .docs-buttons>.btn-group, .cropper .docs-buttons>.form-control {
  margin-right: 5px;
  margin-bottom: 10px
}

.cropper .docs-tooltip {
  display: block;
  margin: -6px -12px;
  padding: 6px 12px
}

.cropper .docs-tooltip>.icon {
  margin: 0 -3px;
  vertical-align: top
}

.cropper .tooltip-inner {
  white-space: normal
}

.cropper .btn-toggle .tooltip-inner, .cropper .btn-upload .tooltip-inner {
  white-space: nowrap
}

.cropper .btn-toggle {
  padding: 6px
}

.cropper .btn-toggle>.docs-tooltip {
  margin: -6px;
  padding: 6px
}

@media (max-width:400px) {
  .cropper .btn-group-crop {
    margin-right: -15px !important
  }
  .cropper .btn-group-crop>.btn {
    padding-left: 5px;
    padding-right: 5px
  }
  .cropper .btn-group-crop .docs-tooltip {
    margin-left: -3.5px;
    margin-right: -5px;
    padding-left: 5px;
    padding-right: 5px
  }
}

.cropper .docs-options .dropdown-menu {
  width: 100%
}

.cropper .docs-options .dropdown-menu>li {
  padding: 3px 20px
}

.cropper .docs-options .dropdown-menu>li:hover {
  background-color: #f7f7f7
}

.cropper .docs-options .dropdown-menu>li>label {
  display: block
}

.cropper .docs-cropped .modal-body {
  text-align: center
}

.cropper .docs-diagram .modal-dialog {
  max-width: 352px
}

.cropper .docs-cropped canvas {
  max-width: 100%
}

.form_wizard .stepContainer {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0 solid #CCC;
  overflow-x: hidden
}

.wizard_horizontal ul.wizard_steps {
  display: table;
  list-style: none;
  position: relative;
  width: 100%;
  margin: 0 0 20px
}

.wizard_horizontal ul.wizard_steps li {
  display: table-cell;
  text-align: center
}

.wizard_horizontal ul.wizard_steps li a, .wizard_horizontal ul.wizard_steps li:hover {
  display: block;
  position: relative;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
  opacity: 1;
  color: #666
}

.wizard_horizontal ul.wizard_steps li a:before {
  content: "";
  position: absolute;
  height: 4px;
  background: #ccc;
  top: 20px;
  width: 100%;
  z-index: 4;
  left: 0
}

.wizard_horizontal ul.wizard_steps li a.disabled .step_no {
  background: #ccc
}

.wizard_horizontal ul.wizard_steps li a .step_no {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100px;
  display: block;
  margin: 0 auto 5px;
  font-size: 16px;
  text-align: center;
  position: relative;
  z-index: 5
}

.step_no, .wizard_horizontal ul.wizard_steps li a.selected:before {
  background: #34495E;
  color: #fff
}

.wizard_horizontal ul.wizard_steps li a.done .step_no, .wizard_horizontal ul.wizard_steps li a.done:before {
  background: #1ABB9C;
  color: #fff
}

.wizard_horizontal ul.wizard_steps li:first-child a:before {
  left: 50%
}

.wizard_horizontal ul.wizard_steps li:last-child a:before {
  right: 50%;
  width: 50%;
  left: auto
}

.wizard_verticle .stepContainer {
  width: 80%;
  float: left;
  padding: 0 10px
}

.actionBar {
  width: 100%;
  border-top: 1px solid #ddd;
  padding: 10px 5px;
  text-align: right;
  margin-top: 10px
}

.actionBar .buttonDisabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .65;
  filter: alpha(opacity=65);
  box-shadow: none
}

.actionBar a {
  margin: 0 3px
}

.wizard_verticle .wizard_content {
  width: 80%;
  float: left;
  padding-left: 20px
}

.wizard_verticle ul.wizard_steps {
  display: table;
  list-style: none;
  position: relative;
  width: 20%;
  float: left;
  margin: 0 0 20px
}

.wizard_verticle ul.wizard_steps li {
  display: list-item;
  text-align: center
}

.wizard_verticle ul.wizard_steps li a {
  height: 80px
}

.wizard_verticle ul.wizard_steps li a:first-child {
  margin-top: 20px
}

.wizard_verticle ul.wizard_steps li a, .wizard_verticle ul.wizard_steps li:hover {
  display: block;
  position: relative;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
  opacity: 1;
  color: #666
}

.wizard_verticle ul.wizard_steps li a:before {
  content: "";
  position: absolute;
  height: 100%;
  background: #ccc;
  top: 20px;
  width: 4px;
  z-index: 4;
  left: 49%
}

.wizard_verticle ul.wizard_steps li a.disabled .step_no {
  background: #ccc
}

.wizard_verticle ul.wizard_steps li a .step_no {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100px;
  display: block;
  margin: 0 auto 5px;
  font-size: 16px;
  text-align: center;
  position: relative;
  z-index: 5
}

.progress.progress_sm, .progress.progress_sm .progress-bar {
  height: 10px !important
}

.step_no, .wizard_verticle ul.wizard_steps li a.selected:before {
  background: #34495E;
  color: #fff
}

.wizard_verticle ul.wizard_steps li a.done .step_no, .wizard_verticle ul.wizard_steps li a.done:before {
  background: #1ABB9C;
  color: #fff
}

.wizard_verticle ul.wizard_steps li:first-child a:before {
  left: 49%
}

.wizard_verticle ul.wizard_steps li:last-child a:before {
  left: 49%;
  left: auto;
  width: 0
}

.form_wizard .loader, .form_wizard .msgBox {
  display: none
}

.progress {
  border-radius: 0
}

.progress-bar-info {
  background-color: #3498DB
}

.progress-bar-success {
  background-color: #26B99A
}

.progress_summary .progress {
  margin: 5px 0 12px !important
}

.progress_summary .row {
  margin-bottom: 5px
}

.progress_summary .row .col-xs-2 {
  padding: 0
}

.progress_summary .data span, .progress_summary .more_info span {
  text-align: right;
  float: right
}

.progress_summary p {
  margin-bottom: 3px;
  width: 100%
}

.progress_title .left {
  float: left;
  text-align: left
}

.progress_title .right {
  float: right;
  text-align: right;
  font-weight: 300
}

.progress.progress_sm {
  border-radius: 0;
  margin-bottom: 18px
}

.dashboard_graph p {
  margin: 0 0 4px
}

ul.verticle_bars {
  width: 100%
}

ul.verticle_bars li {
  width: 23%;
  height: 200px;
  margin: 0
}

.progress.vertical.progress_wide {
  width: 35px
}

.alert-success {
  color: #fff;
  background-color: rgba(38, 185, 154, .88);
  border-color: rgba(38, 185, 154, .88)
}

.alert-info {
  color: #E9EDEF;
  background-color: rgba(52, 152, 219, .88);
  border-color: rgba(52, 152, 219, .88)
}

.alert-warning {
  color: #E9EDEF;
  background-color: rgba(243, 156, 18, .88);
  border-color: rgba(243, 156, 18, .88)
}

.alert-danger, .alert-error {
  color: #E9EDEF;
  background-color: rgba(231, 76, 60, .88);
  border-color: rgba(231, 76, 60, .88)
}

.ui-pnotify.dark .ui-pnotify-container {
  color: #E9EDEF;
  background-color: rgba(52, 73, 94, .88);
  border-color: rgba(52, 73, 94, .88)
}

.custom-notifications {
  position: fixed;
  margin: 15px;
  right: 0;
  float: right;
  width: 400px;
  z-index: 4000;
  bottom: 0
}

ul.notifications {
  float: right;
  display: block;
  margin-bottom: 7px;
  padding: 0;
  width: 100%
}

.notifications li {
  float: right;
  margin: 3px;
  width: 36px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .3)
}

.notifications li:last-child {
  margin-left: 0
}

.notifications a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 9px 8px
}

.tabbed_notifications .text {
  padding: 5px 15px;
  height: 140px;
  border-radius: 7px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, .3)
}

.tabbed_notifications div p {
  display: inline-block
}

.tabbed_notifications h2 {
  font-weight: 700;
  width: 80%;
  float: left;
  height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block
}

.tabbed_notifications .close {
  padding: 5px;
  color: #E9EDEF;
  float: right;
  opacity: 1
}

.fc-state-default {
  background: #f5f5f5;
  color: #73879C
}

.fc-state-active, .fc-state-down {
  color: #333;
  background: #ccc
}

.dropzone {
  min-height: 300px;
  border: 1px solid #e5e5e5
}

.main_menu .label {
  line-height: 11px;
  margin-top: 4px
}

@media (max-width:460px) {
  .dataTables_wrapper .col-sm-6 {
    width: 100%;
    margin-bottom: 5px
  }
  .dataTables_wrapper .col-sm-6 .dataTables_filter {
    float: none
  }
}

@media (max-width:767px) {
  .dataTables_length {
    float: none
  }
}

.daterangepicker.xdisplay {
  width: 228px
}

.dataTables_wrapper>.row {
  overflow: auto !important
}

.make-transparent {
  -webkit-text-stroke: 0.7px #fb7302;
  -webkit-text-fill-color: transparent;
}

/*****************************
 .login_wrapper{    right: 33%;
    margin: 0% auto 0;
    max-width: 350px;
    position: relative;
    float: right;}
 
 @media (max-width:320px){ 
 .login_wrapper{    
    margin: 0% auto 0;
    max-width: 350px;
    position: relative;
    float: left;
	margin-left: 69px;
	
	}
	
	}
 
 
  
 @media (max-width:360px){ 
 .login_wrapper{    
    margin: 0% auto 0;
    max-width: 350px;
    position: relative;
    float: left;
	margin-left: 69px;
	
	}
	
	}
	
	 @media (max-width:800px){ 
 .login_wrapper{    
    margin: 0% auto 0;
    max-width: 350px;
    position: relative;
    float: left;
	margin-left: 70%;
	
	}
	
	}
	
 
 .cropper .docs-cropped .modal-body>canvas,.cropper .docs-cropped .modal-body>img,.cropper .img-container>img,.cropper .img-preview>img{max-width:100%}

 .registration_form{z-index:21;opacity:0;width:100%}.login_form{z-index:22}#signin:target~.login_wrapper .login_form,#signup:target~.login_wrapper .registration_form{z-index:22;animation-name:fadeInLeft;animation-delay:.1s}#signin:target~.login_wrapper .registration_form,#signup:target~.login_wrapper .login_form{animation-name:fadeOutLeft}.animate{-webkit-animation-duration:.5s;-webkit-animation-timing-function:ease;-webkit-animation-fill-mode:both;-moz-animation-duration:.5s;-moz-animation-timing-function:ease;-moz-animation-fill-mode:both;-o-animation-duration:.5s;-o-animation-timing-function:ease;-o-animation-fill-mode:both;-ms-animation-duration:.5s;-ms-animation-timing-function:ease;-ms-animation-fill-mode:both;animation-duration:.5s;animation-timing-function:ease;animation-fill-mode:both}.login_box{padding:20px;margin:auto}.alignleft{margin-right:15px}.alignright{float:right;margin-left:15px}
 
 .clearfix:after,form:after{content:".";display:block;height:0;clear:both;visibility:hidden}
 
 .login_content {
  background: hsl(209, 48%, 67%) none repeat scroll 0 0;
  border-radius: 50%;
  color: hsl(0, 0%, 100%);
  height: 400px;
  text-align: center;
  width: 400px;
}
.animate.form.login_form {
  margin-top: 50px;
}
 .login_content a:hover{text-decoration:underline}
 .login_content h1{font:400 25px Helvetica,Arial,sans-serif;letter-spacing:-.05em;line-height:20px;margin:10px 0 30px}
 .login_content h1:after,.login_content h1:before{content:"";height:0px;position:absolute;top:10px;width:20%}
 .login_content h1:after{background:#7e7e7e;background:linear-gradient(left,#7e7e7e 0,#fff 100%);right:0}
 .login_content h1:before{background:#7e7e7e;background:linear-gradient(right,#7e7e7e 0,#fff 100%);left:0}
 .login_content form {
  margin: 0;
  padding: 120px 75px 0;
  position: relative;
}
 
 
@font-face {
    font-family:'Kozuka_GothicR';
    src: url(../fonts/kozuka_gothic_pro_r.ttf);
	
}

@font-face {
    font-family:'Kozuka_GothicM';
    src: url(../fonts/Kozuka-Gothic-Pro-M_26793.ttf);
	
}

@font-face {
    font-family:'Kozuka_GothicB';
    src: url(../fonts/Kozuka Gothic Pro B.otf);
	
}
 .login_content {font-family:'Kozuka_GothicM'; font-weight:100; letter-spacing:1px;}
 
.login_content form input[type="text"], .login_content form input[type="email"], .login_content form input[type="password"] {
  background-color: hsla(0, 0%, 0%, 0) !important;
  border: 1px solid #fff !important;
  border-radius: 5px;
  color: hsl(0, 0%, 100%) !important;
  font-family: "Kozuka_GothicM";
  height: 45px;
  margin: 0 0 15px;
  padding: 10px;
  box-shadow: none !important;
} 
.login_content form input[type="text"]::-webkit-input-placeholder,.login_content form input[type="text"]:-moz-placeholder
{
color:#fff !important;
}

.change_link {
  font-size: 12px;
  margin-top: 12px;
}
ul.phone_nav {
  margin-bottom: 0;
  margin-top: 30px;
  padding: 0;
}
li.phone_text {
  font-size: 12px;
  line-height: 1;
}
li.phone_no {
  font-size: 17px;
  line-height: 1;
}
button.submit {
  background: hsl(0, 0%, 100%) none repeat scroll 0 0 !important;
  border-radius: 8px;
  color: hsl(209, 48%, 67%) !important;
  font-size: 18px;
  line-height: 1.5;
  padding: 8px 30px;
}

 

 .login_content form div a{font-size:17px;margin:10px 15px 0 0; padding:8px 50px; color:#84aed4;}.
 reset_pass{margin-top:10px!important}.login_content div .reset_pass{margin-top:13px!important;margin-right:39px;float:right}.separator{border-top:1px solid #D8D8D8;margin-top:10px;padding-top:10px}.button{background:#f7f9fa;background:linear-gradient(top,#f7f9fa 0,#f0f0f0 100%);filter:progid: DXImageTransform.Microsoft.gradient( startColorstr='#f7f9fa', endColorstr='#f0f0f0', GradientType=0);-ms-box-shadow:0 1px 2px rgba(0,0,0,.1) inset;-o-box-shadow:0 1px 2px rgba(0,0,0,.1) inset;box-shadow:0 1px 2px rgba(0,0,0,.1) inset;border-radius:0 0 5px 5px;border-top:1px solid #CFD5D9;padding:15px 0}#content form .submit,.login_content form input[type=submit]{float:left;margin-left:38px}.button a{background:url(http://cssdeck.com/uploads/media/items/8/8bcLQqF.png) 0 -112px no-repeat;color:#7E7E7E;font-size:17px;padding:2px 0 2px 40px;text-decoration:none;transition:all .3s ease}.button a:hover{background-position:0 -135px;color:#00aeef}header{width:100%}#nprogress .bar{background:#1ABB9C}#nprogress .peg{box-shadow:0 0 10px #1ABB9C,0 0 5px #1ABB9C}#nprogress .spinner-icon{border-top-color:#1ABB9C;border-left-color:#1ABB9C}.editor-wrapper{min-height:250px;background-color:#fff;border-collapse:separate;border:1px solid #ccc;padding:4px;box-sizing:content-box;box-shadow:rgba(0,0,0,.07451) 0 1px 1px 0 inset;overflow:scroll;outline:0;border-radius:3px}.voiceBtn{width:20px;color:transparent;background-color:transparent;transform:scale(2,2);-webkit-transform:scale(2,2);-moz-transform:scale(2,2);border:transparent;box-shadow:none;-webkit-box-shadow:none}div[data-role=editor-toolbar]{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.select2-container--default .select2-selection--multiple,.select2-container--default .select2-selection--single{background-color:#fff;border:1px solid #ccc;border-radius:0;min-height:38px}.select2-container--default .select2-selection--single .select2-selection__rendered{color:#73879C;padding-top:5px}.select2-container--default .select2-selection--multiple .select2-selection__rendered{padding-top:3px}.select2-container--default .select2-selection--single .select2-selection__arrow{height:36px}.select2-container--default .select2-selection--multiple .select2-selection__choice,.select2-container--default .select2-selection--multiple .select2-selection__clear{margin-top:2px;border:none;border-radius:0;padding:3px 5px}.select2-container--default.select2-container--focus .select2-selection--multiple{border:1px solid #ccc}.switchery{width:32px;height:20px}.switchery>small{width:20px;height:20px}fieldset{border:none;margin:0;padding:0}.cropper .img-container,.cropper .img-preview{background-color:#f7f7f7;width:100%;text-align:center}.cropper .img-container{min-height:200px;max-height:516px;margin-bottom:20px}.cropper .docs-data>.input-group,.cropper .docs-toggles>.btn,.cropper .docs-toggles>.btn-group,.cropper .docs-toggles>.dropdown,.cropper .img-preview{margin-bottom:10px}@media (min-width:768px){.cropper .img-container{min-height:516px}}.cropper .docs-preview{margin-right:-15px}.cropper .img-preview{float:left;margin-right:10px;overflow:hidden}.cropper .preview-lg{width:263px;height:148px}.cropper .preview-md{width:139px;height:78px}.cropper .preview-sm{width:69px;height:39px}.cropper .preview-xs{width:35px;height:20px;margin-right:0}.cropper .docs-data>.input-group>label{min-width:80px}.cropper .docs-data>.input-group>span{min-width:50px}.cropper .docs-buttons>.btn,.cropper .docs-buttons>.btn-group,.cropper .docs-buttons>.form-control{margin-right:5px;margin-bottom:10px}.cropper .docs-tooltip{display:block;margin:-6px -12px;padding:6px 12px}.cropper .docs-tooltip>.icon{margin:0 -3px;vertical-align:top}.cropper .tooltip-inner{white-space:normal}.cropper .btn-toggle .tooltip-inner,.cropper .btn-upload .tooltip-inner{white-space:nowrap}.cropper .btn-toggle{padding:6px}.cropper .btn-toggle>.docs-tooltip{margin:-6px;padding:6px}@media (max-width:400px){.cropper .btn-group-crop{margin-right:-15px!important}.cropper .btn-group-crop>.btn{padding-left:5px;padding-right:5px}.cropper .btn-group-crop .docs-tooltip{margin-left:-5px;margin-right:-5px;padding-left:5px;padding-right:5px}}.cropper .docs-options .dropdown-menu{width:100%}.cropper .docs-options .dropdown-menu>li{padding:3px 20px}.cropper .docs-options .dropdown-menu>li:hover{background-color:#f7f7f7}.cropper .docs-options .dropdown-menu>li>label{display:block}.cropper .docs-cropped .modal-body{text-align:center}.cropper .docs-diagram .modal-dialog{max-width:352px}.cropper .docs-cropped canvas{max-width:100%}.form_wizard .stepContainer{display:block;position:relative;margin:0;padding:0;border:0 solid #CCC;overflow-x:hidden}.wizard_horizontal ul.wizard_steps{display:table;list-style:none;position:relative;width:100%;margin:0 0 20px}.wizard_horizontal ul.wizard_steps li{display:table-cell;text-align:center}.wizard_horizontal ul.wizard_steps li a,.wizard_horizontal ul.wizard_steps li:hover{display:block;position:relative;-moz-opacity:1;filter:alpha(opacity=100);opacity:1;color:#666}.wizard_horizontal ul.wizard_steps li a:before{content:"";position:absolute;height:4px;background:#ccc;top:20px;width:100%;z-index:4;left:0}.wizard_horizontal ul.wizard_steps li a.disabled .step_no{background:#ccc}.wizard_horizontal ul.wizard_steps li a .step_no{width:40px;height:40px;line-height:40px;border-radius:100px;display:block;margin:0 auto 5px;font-size:16px;text-align:center;position:relative;z-index:5}.step_no,.wizard_horizontal ul.wizard_steps li a.selected:before{background:#34495E;color:#fff}.wizard_horizontal ul.wizard_steps li a.done .step_no,.wizard_horizontal ul.wizard_steps li a.done:before{background:#1ABB9C;color:#fff}.wizard_horizontal ul.wizard_steps li:first-child a:before{left:50%}.wizard_horizontal ul.wizard_steps li:last-child a:before{right:50%;width:50%;left:auto}.wizard_verticle .stepContainer{width:80%;float:left;padding:0 10px}.actionBar{width:100%;border-top:1px solid #ddd;padding:10px 5px;text-align:right;margin-top:10px}.actionBar .buttonDisabled{cursor:not-allowed;pointer-events:none;opacity:.65;filter:alpha(opacity=65);box-shadow:none}.actionBar a{margin:0 3px}.wizard_verticle .wizard_content{width:80%;float:left;padding-left:20px}.wizard_verticle ul.wizard_steps{display:table;list-style:none;position:relative;width:20%;float:left;margin:0 0 20px}.wizard_verticle ul.wizard_steps li{display:list-item;text-align:center}.wizard_verticle ul.wizard_steps li a{height:80px}.wizard_verticle ul.wizard_steps li a:first-child{margin-top:20px}.wizard_verticle ul.wizard_steps li a,.wizard_verticle ul.wizard_steps li:hover{display:block;position:relative;-moz-opacity:1;filter:alpha(opacity=100);opacity:1;color:#666}.wizard_verticle ul.wizard_steps li a:before{content:"";position:absolute;height:100%;background:#ccc;top:20px;width:4px;z-index:4;left:49%}.wizard_verticle ul.wizard_steps li a.disabled .step_no{background:#ccc}.wizard_verticle ul.wizard_steps li a .step_no{width:40px;height:40px;line-height:40px;border-radius:100px;display:block;margin:0 auto 5px;font-size:16px;text-align:center;position:relative;z-index:5}.progress.progress_sm,.progress.progress_sm .progress-bar{height:10px!important}.step_no,.wizard_verticle ul.wizard_steps li a.selected:before{background:#34495E;color:#fff}.wizard_verticle ul.wizard_steps li a.done .step_no,.wizard_verticle ul.wizard_steps li a.done:before{background:#1ABB9C;color:#fff}.wizard_verticle ul.wizard_steps li:first-child a:before{left:49%}.wizard_verticle ul.wizard_steps li:last-child a:before{left:49%;left:auto;width:0}.form_wizard .loader,.form_wizard .msgBox{display:none}.progress{border-radius:0}.progress-bar-info{background-color:#3498DB}.progress-bar-success{background-color:#26B99A}.progress_summary .progress{margin:5px 0 12px!important}.progress_summary .row{margin-bottom:5px}.progress_summary .row .col-xs-2{padding:0}.progress_summary .data span,.progress_summary .more_info span{text-align:right;float:right}.progress_summary p{margin-bottom:3px;width:100%}.progress_title .left{float:left;text-align:left}.progress_title .right{float:right;text-align:right;font-weight:300}.progress.progress_sm{border-radius:0;margin-bottom:18px}.dashboard_graph p{margin:0 0 4px}ul.verticle_bars{width:100%}ul.verticle_bars li{width:23%;height:200px;margin:0}.progress.vertical.progress_wide{width:35px}.alert-success{color:#fff;background-color:rgba(38,185,154,.88);border-color:rgba(38,185,154,.88)}.alert-info{color:#E9EDEF;background-color:rgba(52,152,219,.88);border-color:rgba(52,152,219,.88)}.alert-warning{color:#E9EDEF;background-color:rgba(243,156,18,.88);border-color:rgba(243,156,18,.88)}.alert-danger,.alert-error{color:#E9EDEF;background-color:rgba(231,76,60,.88);border-color:rgba(231,76,60,.88)}.ui-pnotify.dark .ui-pnotify-container{color:#E9EDEF;background-color:rgba(52,73,94,.88);border-color:rgba(52,73,94,.88)}.custom-notifications{position:fixed;margin:15px;right:0;float:right;width:400px;z-index:4000;bottom:0}ul.notifications{float:right;display:block;margin-bottom:7px;padding:0;width:100%}.notifications li{float:right;margin:3px;width:36px;box-shadow:3px 3px 3px rgba(0,0,0,.3)}.notifications li:last-child{margin-left:0}.notifications a{display:block;text-align:center;text-decoration:none;padding:9px 8px}.tabbed_notifications .text{padding:5px 15px;height:140px;border-radius:7px;box-shadow:6px 6px 6px rgba(0,0,0,.3)}.tabbed_notifications div p{display:inline-block}.tabbed_notifications h2{font-weight:700;width:80%;float:left;height:20px;text-overflow:ellipsis;overflow:hidden;display:block}.tabbed_notifications .close{padding:5px;color:#E9EDEF;float:right;opacity:1}.fc-state-default{background:#f5f5f5;color:#73879C}.fc-state-active,.fc-state-down{color:#333;background:#ccc}.dropzone{min-height:300px;border:1px solid #e5e5e5}.main_menu .label{line-height:11px;margin-top:4px}@media (max-width:460px){.dataTables_wrapper .col-sm-6{width:100%;margin-bottom:5px}.dataTables_wrapper .col-sm-6 .dataTables_filter{float:none}}@media (max-width:767px){.dataTables_length{float:none}}.daterangepicker.xdisplay{width:228px}.dataTables_wrapper>.row{overflow:auto!important}
 
 
 .white_color{color:#FFFFFF !important; text-decoration:underline  !important;}
 .logo1{ margin:20px 35px;}
 
 */