<style>
    #sidebar {
        position: absolute;
        left: -44.75vw;
        height: 125vh;
    }

    #sidebar {
        position: absolute;
        left: -44.75vw;
        height: 125vh;
    }

    .chevron-left {
        float: left;
        margin-left: -3.5px;
        padding: 0px;
    }

    .apptDetailsContainer {
        border-bottom: 0.5px;
        border-style: solid;
        padding-bottom: 0.5rem;
    }

    .dateItem {
        font-size: 0.8rem;
        font-weight: 400;
        text-align: left;
    }

    .timeItem {
        font-size: 0.8rem;
        font-weight: 400;
        text-align: left;
        padding: 0 0.25rem 0 0.25rem;
    }

    .careWorker {
        font-size: 0.8rem;
        font-weight: 400;
        padding: 0 0.25rem 0 0.25rem;
    }

    .taskDetails {
        text-align: center;
        font-size: 0.9rem;
        /*         border-bottom-width: 0.25px !important; */
        border-bottom-color: grey;
        border-style: dotted;
    }

    .noteDetails {
        text-align: center;
        font-size: 0.9rem;
        text-transform: capitalize;
    }

    .itemTitle {
        font-size: 0.9rem;
        text-transform: capitalize;
        font-weight: 900;
        padding: 0rem;
        /*     	padding: 0.25rem; */
        color: black;
    }

    .visitTitle {
        text-transform: uppercase;
        text-align: center;
        text-transform: capitalize;
        font-weight: 900;
        padding: 0.25rem;
    }

    .noteContainer {
        color: #013e73;
    }

    .taskInstContainer {
        color: grey;
    }

    u {
        text-align: center !important;
    }

    .taskCompleted {
        background-color: #1fa083;
        color: white;
    }

    .taskComplete {
        background-color: red;
        color: white;
    }

    .VisitOpeningText {
        font-size: 0.9rem;
    }

    .visitType,
    taskIcon,
    taskTitle {
        display: inline-block;
    }

    .placeholder {
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
        width: 100%;
        height: 50vh;
        /* height: 200px; */
        position: relative;
        /* this is the only relevant part for the example */
    }

    .bg-image-blur {
        -webkit-filter: blur(20px);
        -moz-filter: blur(20px);
        -o-filter: blur(20px);
        -ms-filter: blur(20px);
        filter: blur(20px);
        zoom: 0.5;
    }

    .bg-image-blur,
    .bg-image {
        background: url('img/guruji-garden.jpg') no-repeat;
        opacity: 0.75;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
<div class="navbar-fixed-top header" ng-class="orientationPortrait == false ? 'topToolBarBgLandscape' : 'topToolBarBgPortrait'" style="position: fixed;padding-left: 1.25rem">
    <div class="btnFg navText" style="display: inline-block;margin-top: 1.25rem;">
        Favs
    </div>
    <div class="pull-left row" style="display: inline-block;margin-top: 7px;">
        <div class="chevron-left" style="text-align: center">
            <a id="Uploadwindow" href="#/home">
                <span class="fa-stack fa-2x-" style="font-size: 1.5rem;">
                    <i class="fa fa-chevron-left fa-stack-1x makeTransparent tooltips  btnBg btnFg"></i>
                </span>
            </a>
        </div>
    </div>
    <div style="display: inline-block;margin-top: 15px;padding-left: 1.5vw;">
        <!-- <div marquee-left id="marquee-left" style="display: inline-block;"></div>  --></div>
    <div class="pull-right" style="display: inline-block;margin-top: 5px;padding-right: 3vw;">
        <span>
            <a id="" href="#/home">
                <img width="47.5px" src="img/logo.jpg" id="logoImg">
            </a>
        </span>
    </div>
    <div class="pull-right btnFg" style="display: inline-block;margin-top: 0.25rem;"></div>
</div>
<!-- container section start -->
<section id="container" class="" data-ng-init="loadMainMenuCurrntActiveClass('About')">
    <!------------ Start Header ---------------->
    <div class="title" data-ng-init="loadCurrntOrgPageTitle('About')"></div>
    <div ng-include="'header.html'"></div>
    <!------------ End Header ----------------->
    <!------------ Start Side Nav Bar ---------------->
    <div ng-include="'sidebar.html'"></div>
    <!------------ End Side Nav Bar ----------------->
    <!--main content start-->
    <div id="main-contents" ng-class="orientationPortrait == false ? 'main-contentsLandscape' : 'main-contentsPortrait'" style="height: 100vh;">
        <div id="" class="details-panel" style="">
            <div class="animate clip-text clip-text_one">
                <h3 ng-if="orientationPortrait == false">About</h3>
                <div class="innerContents" style="{{orientationPortrait == false ? '' : ''}}">
                    <div class="" style="">
                        <p>
                            REJ
                        </p>
                        <p>
                            Safe Space
                        </p>
                        <p>
                            TBA
                        </p>
                        <div class="text-center" style="">
                            <a href="http://www.gurujiofgurgaon.com/" target="_blank">
                                <span>
                                    <div class="placeholder">
                                        <!-- blurred background image for blurred edge  -->
                                        <div class="bg-image-blur"></div>
                                        <!-- same image, no blur -->
                                        <div class="bg-image" style="{{orientationPortrait == true ? 'zoom: 0.5;' : ''}}"></div>
                                    </div>
                                </span>
                            </a>
                        </div>
                        <br>
                        <p style="{{orientationPortrait == true ? 'margin-top: -19.5vh;' : ''}}">
                            ...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script></script>
