<style>
#sidebar {
    position: absolute;
    left: -44.75vw;
    height: 125vh;
}
#sidebar {
    position: absolute;
    left: -44.75vw;
    height: 125vh;
}
.chevron-left {
    float: left;
    margin-left: -3.5px;
    padding: 0px;
}

table {
    width: auto;
}
table, th, td {
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 9px 9px;
    text-align: center;
}
</style>
<div class="navbar-fixed-top header" ng-class="orientationPortrait == false ? 'topToolBarBgLandscape' : 'topToolBarBgPortrait'" style="position: fixed;padding-left: 1.25rem;border-bottom-style: solid; border-bottom-color: whitesmoke;">
    <div class="btnFg navText" style="display: inline-block;margin-top: 1.25rem;">
        Favourites
    </div>
    <div class="pull-left row" style="display: inline-block;{{orientationPortrait == false ? 'margin-top: 4px;' : 'margin-top: 4px;'}}">
        <div class="chevron-left" style="text-align: center">
            <a id="Uploadwindow" href="#/home">
                <span class="fa-stack fa-2x-" style="font-size: 1.5rem;">
                    <i class="fa fa-chevron-left fa-stack-1x makeTransparent tooltips  btnBg btnFg"></i>
                </span>
            </a>
        </div>
    </div>
    <div style="display: inline-block;margin-top: 15px;padding-left: 1.5vw;">
        <!-- <div marquee-left id="marquee-left" style="display: inline-block;"></div>  --></div>
    <div class="pull-right" style="display: inline-block;margin-top: 10px;padding-right: 3vw;">
        <span>
            <a id="" href="#/home">
                <img
                    class="logoAnim"
                    width="40px"
                    src="img/logo.png"
                    id="logoImg"
                >
            </a>
        </span>
    </div>
    <div class="pull-right btnFg" style="display: inline-block;margin-top: 0.25rem;"></div>
</div>
<!-- container section start -->
<section id="container" class="" data-ng-init="loadMainMenuCurrntActiveClass('Saved')">
    <!------------ Start Header ---------------->
    <div class="title" data-ng-init="loadCurrntOrgPageTitle('Saved')"></div>
    <div ng-include="'header.html'"></div>
    <!------------ End Header ----------------->
    <!------------ Start Side Nav Bar ---------------->
    <div ng-include="'sidebarFav.html'"></div>
    <!------------ End Side Nav Bar ----------------->
    <!--main content start-->
    <div id="main-contents" ng-class="orientationPortrait == false ? 'main-contentsLandscape' : 'main-contentsPortrait'" style="height: 100vh;">
        <div id="" class="details-panel" style="">
            <div class="animate clip-text clip-text_one">
                <!-- <h3 ng-if="orientationPortrait == false">Favourites</h3> -->
                <div class="innerContents" style="{{orientationPortrait == false ? 'margin-top: 5vh' : 'margin-top: 2.5vh'}}">
                    <!-- <br> -->
                    <table class="scrolling-wrapper" style="{{orientationPortrait == true ? 'margin-left: 1.5vw;' : 'margin-left: 3vw;margin-top: 2.5vh;'}}color: black;zoom: 0.9;">
                        <tr>
                            <th>Name</th>
                            <th>Location ID</th>
                            <th>Unit ID</th>
                            <th>Address</th>
                            <th>
                                <i id="favMainIndex{{$index}}" class="fa fa-heart usericons" style="color:blueviolet; font-size: 28px;"></i>
                            </th>
                        </tr>
                        <tr ng-repeat="(key, fav) in favList">
                            <td>{{fav.unit_name}}</td>
                            <td>{{fav.location_id}}</td>
                            <td>{{fav.unit_id}}</td>
                            <td style="font-size: 0.7rem!important;">{{fav.unit_location}}</td>
                            <td>
                                <span>
                                    <a ng-click="favChangeSelect($index);">
                                        <i
                                            id="favMainIndex{{$index}}"
                                            class="fa fa-heart usericons"
                                            title="1"
                                            style="margin-left: -0px; margin-top: 0px; color:blueviolet; font-size: 28px; bottom: 5px; right: 0px; text-align: right;"
                                        ></i>
                                    </a>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script></script>
