<style>
  #sidebar {
    position: absolute;
    left: -44.75vw;
    height: 125vh;
  }

  .chevron-left {
    float: left;
    margin-left: -3.5px;
    padding: 0px;
  }

  .container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea,
  #contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
  }

  #contact {
    background: #F9F9F9;
    padding: 25px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }

  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
  }

  #contact input[type="text"]:hover,
  #contact input[type="email"]:hover,
  #contact input[type="tel"]:hover,
  #contact input[type="url"]:hover,
  #contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
  }

  #contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }

  #contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
  }

  #contact button[type="submit"]:hover {
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }

  #contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }

  #contact input:focus,
  #contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
  }

  ::-webkit-input-placeholder {
    color: #888;
  }

  :-moz-placeholder {
    color: #888;
  }

  ::-moz-placeholder {
    color: #888;
  }

  :-ms-input-placeholder {
    color: #888;
  }

  .edgeLoad-EDGE-10260560 {
    visibility: hidden;
  }
  .main-contentsLandscape {
        margin-left: 0.5vw !important;
        width: 99vw !important;
        margin-top: -2.5vh !important;
    }

    .main-contentsPortrait {
        margin-left: 0.5vw !important;
        width: 99vw !important;
        margin-top: -2.5vh !important;
    }
</style>
<div class="navbar-fixed-top header" ng-class="orientationPortrait == false ? 'topToolBarBgLandscape' : 'topToolBarBgPortrait'" style="position: fixed;padding-left: 1.25rem">
    <div class="btnFg navText" style="display: inline-block;margin-top: 1.25rem;">
        GPS Assign Unit
    </div>
    <div class="pull-left row" style="display: inline-block;margin-top: 7px;">
        <div class="chevron-left" style="text-align: center">
            <a id="Uploadwindow" href="#/home">
                <span class="fa-stack fa-2x-" style="font-size: 1.5rem;">
                    <i class="fa fa-chevron-left fa-stack-1x makeTransparent tooltips  btnBg btnFg"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="pull-right btnFg" style="display: inline-block;margin-top: 0.25rem;">
        <!-- 
<img width="50px" height="50px" style="border-radius: 2.5rem;"
            src="https://redwoodrobotics.co.uk/carerapp/uploads/unisexProfilePic.png" id="profileImg">
 --></div>
</div>
-->
<!-- container section start -->
<section id="container" class="" data-ng-init="loadMainMenuCurrntActiveClass('GPS')">
    <!------------ Start Header ---------------->
    <div class="title" data-ng-init="loadCurrntOrgPageTitle('GPS Login')"></div>
    <div ng-include="'header.html'"></div>
    <!------------ End Header ----------------->
    <!------------ Start Side Nav Bar ---------------->
    <!-- <div ng-include="'sidebarStudentPortal.html'"></div> -->
    <!------------ End Side Nav Bar ----------------->
    <!--main content start-->
    <!--main content start-->
    <div id="main-contents" ng-class="orientationPortrait == false ? 'main-contentsLandscape' : 'main-contentsPortrait'" style="height: 100vh;">
        <div id="" class="details-panel" style="">
            <div class="animate clip-text clip-text_one" style="display:block!important;height: 92.5vh;">
                <!-- <h3 ng-if="orientationPortrait == false">GPS Assign Unit</h3> -->
                <div class="innerContents" style="{{orientationPortrait == false ? '' : ''}}">
                    <div class="gpsContainer" style="margin-left: 0.25rem;font-size: 0.9rem">
                        <!-- <p id="latLon"></p> -->
                        <div id="map" style="margin-top: 0rem;height: 90vh;position: relative; z-index: 990;"></div>
                    </div>
                    <div style="margin-left: 1%;bottom: 22.5vh;font-size: 1.25rem;padding-bottom: 5px;position: absolute; z-index: 991;">
                        <div style="{{orientationPortrait == false ? 'width: 25%;' : 'width: 12.5%;'}}" class="pull-left">
                            <a
                                id="completeApptBtn"
                                class="btn btnBg btnFg text-center"
                                href=""
                                ng-click="continueToUpdate();"
                                style="background-color: #1fa083;color: white;display: inline-block;width: 65vw;border-radius: 0px;padding: 0.5rem;font-size: 1rem"
                                title="Confirm Start Login"
                            >
                                Assign GPS Location to Unit
                            </a>
                        </div>
                        <!-- <div style="width: 25%;" class="pull-right">
                            <a
                                id="completeApptBtn"
                                class="btn btnBg btnFg text-center"
                                href="#/studentportal"
                                style="background-color: #1fa083;color: white;display: inline-block;width: 25vw;border-radius: 0px;padding: 0.5rem;font-size: 1rem"
                                title="Cancel Start Login"
                            >
                                Cancel Login
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- page end-->
    </div>
</section>
<script>
  $(document).ready(function () {

    $(window).keydown(function (event) {
      if (event.keyCode == 13) {
        event.preventDefault();
        return false;
      }
    });
  });
</script>
<style>
  #showAssesmentBlock {
    display: none;
  }
</style>
<style>
  .glyphicon-chevron-down::before {
    content: "\f068" !important;
    font-family: FontAwesome !important;
  }

  .glyphicon-chevron-up::before {
    content: "\f067" !important;
    font-family: FontAwesome !important;
  }

  .btn.btn-link {

    background-color: #84aed3;
    color: white;
    font-size: 12px;
    height: 24px;
    padding: 2px;
    text-align: center;
    width: 42px;

  }


  .form-control.text-center {
    border-radius: 0;
    color: #84aed3;
    font-size: 16px;
    margin: 0 0 -16px 15px !important;
    width: 42px;
    padding: 0px;
    pointer-events: none;
  }

  .control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
    float: left;
    width: 50%;
  }

  #map {
    height: 400px;
    width: 100%;
  }
</style>
