<style>
* {
  box-sizing: border-box;
}

.active {
	/* background-color: whitesmoke!important; */
  background-color: #fb7303 !important;
  color: black !important;
}

.activeIcon {
	color: #013e73;
	-webkit-text-stroke: 0.7px #013e73; 
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 33.3%;
  padding: 0px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.modal-title {
	padding: 0 0.25rem 0 0.25rem;
}

.navbar-fixed-bottom {
	bottom: 0!important;
}

.circle {
  display: flex;
  border-radius: 50%;
  width: 5.1em;
  height: 5.1em;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 0.46);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 0.46);
  box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 0.46);
}

.headerPortraitMargin {
  /* margin-left: 13.5vw; */
}

.headerPortrait {
  /* background: #305770; */
  /* background: url(img/colourwave.png) center center fixed no-repeat; */
  box-shadow: 15px 15px 15px 9px #ccc!important;
}

.headerLandscape {
  /* background: url(img/colourwave.png) center center fixed no-repeat; */
  width: 25.25vw!important;
}
</style>
<!-- 
<div class="contentLoader ng-scope" ng-show="loading" style="position: fixed; z-index: 9999; margin: 0px auto; width: 100%; text-align: center; height: 100%;">
    <img src="images/shows-loader.gif" style="display: none;background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 0px 0px 5px 5px; padding: 10px 15px; position: relative; z-index: 9999;">
    <span style="display: none;position: absolute; width: 100%; height: 100%; left: 0px;" ng-init="loadChkLogin(UserAccess)">Loading...</span>
</div>
 -->
<!-- <title>{{orgPageTitle}} | Smarter Care Plan</title> 
 
-->
<!--header start width: 25vw; 

  #132b53

-->
<header class="navbar-fixed-bottom header" style="z-index: 998!important;position: fixed;{{orientationPortrait == true && currentLocation == 'home'? 'background-color: transparent' : orientationPortrait == true ? 'background-color: #132b53' : ''}}" ng-class="orientationPortrait == true ? 'headerPortrait' : 'headerLandscape'">
    <div ng-class="orientationPortrait == true ? 'headerPortraitMargin' : ''" style="margin-top: 2.5px;">
        <div ng-class="this.activeClass == 'GPSNearMe' ? 'active' : ''" class="bottomToolBarBg column" style="margin-left: 0;text-align: center">
            <!-- <a href="#/contactus">    -->
            <a href="#/gpsnearme">
                <span class="fa-stack fa-2x-" style="font-size: 1.75rem;">
                    <!-- 	  <i class="fa fa-square- fa-stack-2x" style="color:#789CBE"></i> -->
                    <i ng-class="this.activeClass == 'GPSNearMe' ? 'activeIcon' : ''" class="fa fa-lightbulb-o makeTransparent fa-stack-1x tooltips" style="font-size: 1.25rem;color: darkslategrey;"></i>
                </span>
            </a>
        </div>
        <!-- Home -->
        <div ng-class="this.activeClass == 'Home' ? 'active' : ''" class="bottomToolBarBg column" style="margin-left: 0;text-align: center">
            <a id="homeLink" href="#/home">
                <span class="fa-stack fa-2x-" style="font-size: 1.75rem;">
                    <!-- 	  <i class="fa fa-square- fa-stack-2x" style="color:#789CBE"></i> -->
                    <i ng-class="this.activeClass == 'Home' ? 'activeIcon' : ''" class="fa fa-home makeTransparent a-stack-1x tooltips" style="font-size: 1.75rem;color: darkslategrey;"></i>
                </span>
            </a>
        </div>
        <!-- Home -->
        <div ng-class="this.activeClass == 'GPS' ? 'active' : ''" class="bottomToolBarBg column" style="margin-left: 0;text-align: center">
            <!-- <a href="#/contactuslocations">    -->
            <a href="#/gpslogin">
                <!-- 	<a ng-click="scrollToFindus('findus')"> href="#weee?scrollTo=bar" -->
                <span class="fa-stack fa-2x-" style="font-size: 1.75rem;">
                    <!-- 	  <i class="fa fa-square- fa-stack-2x" style="color:#789CBE"></i> -->
                    <i ng-class="this.activeClass == 'GPS' ? 'activeIcon' : ''" class="fa fa-map-marker makeTransparent fa-stack-1x tooltips" style="font-size: 1.5rem;color: darkslategrey;"></i>
                </span>
            </a>
        </div>
        <!-- 
  <div ng-class="this.activeClass == 'About' ? 'active' : ''" class="bottomToolBarBg column" style="margin-left: 0;text-align: center">
   <a href="#/about">
	 <div class="circle-">
 
	 <span class="fa-stack fa-2x-" style="font-size: 1.75rem;"><!~~ 	  <i class="fa fa-square- fa-stack-2x" style="color:#789CBE"></i> ~~>
	  <i ng-class="this.activeClass == 'About' ? 'activeIcon' : ''" class="fa fa-circle make-transparent fa-stack-2x- tooltips" style="margin-top: 0.25rem;font-size: 2.75rem;color: darkslategrey;"></i>
	  <strong class="fa-stack-1x">A</strong>
	 </span>

	 </div>			
	</a>  
  </div>
 -->
    </div>
    <!-- 
	
	<div class="circle">
  <span class="fa-stack fa-3x">
    <i class="fa fa-circle-o fa-stack-2x"></i>
    <strong class="fa-stack-1x">1</strong>
  </span>
</div>

  <div class="pull-right"
    style="margin-top: 0.5rem;color: white;padding-right: 0.5rem">
      <a id="idBadge" href="" data-toggle="modal" data-target="#viewBadgeModal" >
		<span style="font-size: 2.5rem;">
		  <i class="fa fa-address-card tooltips"></i>
		</span>
	  </a>
  </div>
	
	<a href="">   
	 <span class="fa-stack fa-2x">
	  <i class="fa fa-square fa-stack-2x" style="color:#3c507d"></i>
	  <i class="fa fa-home fa-stack-1x tooltips"></i>
	 </span>			
	</a>    
   
   	<a href="">   
   	 <span class="fa-stack fa-2x">
	  <i class="fa fa-square fa-stack-2x" style="color:#3c507d"></i>
	  <i class="fa fa-home fa-stack-1x tooltips"></i>
	 </span>			
	</a>    

	<a href="">   
	 <span class="fa-stack fa-2x">
	  <i class="fa fa-square fa-stack-2x" style="color:#3c507d"></i>
	  <i class="fa fa-home fa-stack-1x tooltips"></i>
	 </span>			
	</a>    

	<a href="">    		 
	 <span class="fa-stack fa-2x">
	  <i class="fa fa-square fa-stack-2x" style="color:#3c507d"></i> <!~~ 2B4051 ~~>
	  <i class="fa fa-home fa-stack-1x tooltips" style="color:#fff"></i>
	 </span>			
	</a>  
 -->
</div>
</header>
<!--header end-->
<script>
$(document).ready(function () {

});
</script>
