<style>
#sidebar {
    position: absolute;
    left: -44.75vw;
    height: 125vh;
}

#sidebar {
    position: absolute;
    left: -44.75vw;
    height: 125vh;
}

.chevron-left {
    float: left;
    margin-left: -3.5px;
    padding: 0px;
}

table {
    width: auto;
}
table, th, td {
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 9px 9px;
    text-align: center;
}

.scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    white-space: nowrap;
}

#container {
height: 400px;
}

.highcharts-figure,
.highcharts-data-table table {
min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

#datatable {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

#datatable caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

#datatable th {
    font-weight: 600;
    padding: 0.5em;
}

#datatable td,
#datatable th,
#datatable caption {
    padding: 0.5em;
}

#datatable thead tr,
#datatable tr:nth-child(even) {
    background: #f8f8f8;
}

#datatable tr:hover {
    background: #f1f7ff;
}

.tooltipHeader {
  float: right;
  font-size: 0.6rem;
}

.tooltipHeader::before {
  float: left;
  content: "Param:";
  padding-right: 5px;
  opacity: 0.5;
  display: block;
}

.tooltipHeader::after {
  float: none;
}

.tooltipPointWrapper {
  display: block;
  text-align: center;
  padding: 10px 0;
}

.tooltipPoint {
  font-size: 1.5rem;
  padding-left: 5px;
}

.tooltipValueSuffix {
  padding-left: 5px;
  color: #1bc9a8;
}

.tooltipLine {
  display: block;
  opacity: 0.5;
  background-color: #fff;
  width: 100%;
  height: 1px;
  padding: 0;
  margin: 0;
}

.highcharts-graph.zone-0 {
    stroke: #f7a35c;
}

.highcharts-area.zone-0 {
    fill: #f7a35c;
}

.highcharts-point.zone-0 {
    fill: #f7a35c;
}.custom-select {
    position: relative;
    display: inline-block;
    font-family: sans-serif;
    font-size: 93%;
}

.custom-select span {
    display: inline-block;
    min-width: 180px;
    color: #FFF;
    background-color: #333;
    padding: 5px;
    cursor: pointer;
}

.custom-select ul {
    border: 1px solid #333;
    max-height: 200px;
    overflow: auto;
    z-index: 10000;
}

.custom-select ul li {
    padding: 5px;
   
    cursor: pointer;
}

.custom-select ul li ul li:hover {
  
}

.custom-select ul li:last-child {
    border-bottom: none;
}
.main-contentsPortrait {
    margin-left: 5vw !important;
    margin-top: -2.5vh !important;
}
.selectUnit {
    margin-left: 9.75xvw;
}
.details-panel {
    overflow: visible;
}

.main-contentsLandscape {
  margin-left: 2.5vw !important;
  margin-top: 7.5vh;
}
</style>
<div class="navbar-fixed-top header" ng-class="orientationPortrait == false ? 'topToolBarBgLandscape' : 'topToolBarBgPortrait'" style="position: fixed;padding-left: 1.25rem;border-bottom-style: solid; border-bottom-color: whitesmoke;">
    <div class="btnFg navText" style="display: inline-block;margin-top: 1.25rem;">
        History
    </div>
    <div class="pull-left row" style="display: inline-block;{{orientationPortrait == false ? 'margin-top: 4px;' : 'margin-top: 4px;'}}">
        <div class="chevron-left" style="text-align: center">
            <a id="Uploadwindow" href="#/home">
                <span class="fa-stack fa-2x-" style="font-size: 1.5rem;">
                    <i class="fa fa-chevron-left fa-stack-1x makeTransparent tooltips  btnBg btnFg"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="pull-right" style="display: inline-block;margin-top: 10px;padding-right: 3vw;">
        <span>
            <a id="" href="#/home">
                <img
                    class="logoAnim"
                    width="40px"
                    src="img/logo.png"
                    id="logoImg"
                >
            </a>
        </span>
    </div>
    <div class="pull-right btnFg" style="display: inline-block;margin-top: 0.25rem;"></div>
</div>
<!-- container section start -->
<section id="container" class="" data-ng-init="loadMainMenuCurrntActiveClass('History')">
    <!------------ Start Header ---------------->
    <div class="title" data-ng-init="loadCurrntOrgPageTitle('History')"></div>
    <!-- <div ng-include="'header.html'"></div> -->
    <!------------ End Header ----------------->
    <!------------ Start Side Nav Bar ---------------->
    <!-- <div ng-include="'sidebarHistory.html'"></div> -->
    <!------------ End Side Nav Bar ----------------->
    <!--main content start-->
    <div id="main-contents" ng-class="orientationPortrait == false ? 'main-contentsLandscape' : 'main-contentsPortrait'" style="height: 100vh;">
        <div id="" class="details-panel" style="">
            <div class="animate clip-text clip-text_one">
                <!-- <h3 ng-if="orientationPortrait == false">History</h3> -->
                <div class="innerContents" style="{{orientationPortrait == false ? '' : ''}}">
                    <!-- <div ng-repeat="locationDetails in locationDetailsObj | filter : { full_name: searchText }" style="margin-top: 0.5vh;">
                        <div class="locationContainer btnBg searchLocationBox" style="margin-top: 0.5vh;" ng-click="doLocationLoad(location.location_id)">
                            <div class="location-name" style="display: inline-block;font-size: 1.25rem;padding-left: 1.25rem;vertical-align: top;margin-top: 1rem;">
                                {{locationDetails.LocationName}} {{locationDetails.LocationAddress}}
                            </div>
                            <div class="location-details-arrow pull-right" style="display: inline-block;margin-right: 0">
                                <div class="column" style="margin-left: 0.25%;text-align: center">
                                    <span class="fa-stack fa-2x-" style="font-size: 1.5rem;">
                                        <i class="fa fa-arrow-right  make-transparent f btnBg btnFg fa-stack-1x tooltips" style="color: darkslategrey;"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- ng-if="hasData"  min-width: 300px; height: 300px; 
                    
                    [
  {
    "id": "35",
    "user_id": "1",
    "unit_id": "1",
    "location_id": "1001",
    "unit_name": "Saturn",
    "unit_location": "",
    "created_datetime": "2022-01-20 10:36:32"
  }
]
                    -->
                    <div id="chart" class="scrolling-wrapper" style="margin: 1em;{{orientationPortrait == true ? 'margin-left: 2.5vw;zoom: 0.8' : 'margin-left: 2.5vw;zoom: 1.0'}};min-width: 433px;z"></div>
                    <div class="selectUnit" style="margin-left: 9.5vw;">
                        <div style="display: inline-block;">
                            <select
                                name="selectedUnit"
                                id="selectedUnit"
                                ng-model="selectedUnit"
                                ng-options="item.unit_name for item in items"
                                ng-change="doChangeLocation()"
                                style="color: black"
                            ></select>
                        </div>
                        <div class="custom-select" style="display: inline-block;">
                            <span>Select/Current  Unit: {{selectedUnit.unit_name}}</span>
                        </div>
                        <!-- <input type="text" ng-model="selectedUnit.unit_name" /> ng-init="selectedUnit = selectedUnit.unit_name"  -->
                    </div>
                </div>
                <div class="" style="">
                    <table class="scrolling-wrapper" style="{{orientationPortrait == true ? 'margin-left: 9.75vw;' : 'margin-left: 2.5vw;'}}margin-top: 3.5vh;color: black;zoom: 0.75;">
                        <tr>
                            <th></th>
                            <th>Humidity</th>
                            <th>Celsius</th>
                            <th>CO2</th>
                            <th>Air-P</th>
                            <th>Ozone</th>
                        </tr>
                        <tr ng-repeat="readings in nextReadings">
                            <td>{{readings.Date_and_Time}}</td>
                            <td>{{readings.Relative_Humidity}}</td>
                            <td>{{readings.Temperature}}</td>
                            <td>{{readings.CO2}}</td>
                            <td>{{readings.Air_Pressure}}</td>
                            <td>{{readings.Ozone}}</td>
                        </tr>
                    </table>
                </div>
                <div ng-if="!hasData">No History</div>
            </div>
        </div>
    </div>
</div>
</section>
<script>
  
    $(document).ready( function (){
        var loginID='<?=$user?>';
        
        if (loginID == '') {
            var loginID = localStorage.getItem("loginID");
            document.getElementById("pinid").value = loginID;
        }
    });
     
    function goLogin() {
    
        loginID = document.getElementById("pinid").value;
        localStorage.setItem("loginID",loginID);
        
    }
</script>
