<style>
p {
    color: black !important;
    font-size: 1.15rem !important;
}

b {
    font-size: 1.25rem !important;
    color: darkslategrey !important;
    padding-bottom: 0.25rem !important;
}

.sideBarText {}

.sideBarTextPortrait {
    position: absolute;
    left: -40.5vw;
    top: 0rem;
    color: white !important;
    white-space: nowrap;
    font-size: 0.8rem;
    font-weight: 700 !important;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 0 black;
    text-transform: uppercase;
}

.sideBarTextLandscape {
    position: absolute;
    left: -40.5vw;
    top: 0rem;
    color: white !important;
    white-space: nowrap;
    font-size: 1.0rem;
    font-weight: 700 !important;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 0 black;
    text-transform: uppercase;
}

#sideBarText:hover {
    transition: opacity 0.3s, transform 0.3s;
    -webkit-text-stroke: 1.15px #0273bb !important;
    cursor: pointer;
}

.sideBarIcon {
    left: 44.5vw;
}

.profileName {
    font-size: 1.125rem;
    color: #333333;
}

.menuItem,
li {
    background-color: transparent !important;
    border-style: solid;
    border-width: 0.15rem 0 0 0;
    border-color: slategrey;
    margin-top: 0 !important;
}

.bottomMenuBorder {
    border-style: solid;
    border-width: 0.15rem 0 0.15rem 0;
    border-color: slategrey;
}

.hoverEffect {
    transition: 0.3s;
    transition: transform .2s;
}

.hoverEffect:hover {
    transform: scale(1.15);
}

li {
    /* padding-bottom: 0.75rem; */
}

ul li {
    text-decoration: none;
}

a {
    border-color: transparent;
}

.active {
    background-color: #fb7303 !important;
    color: black !important;
}

.activeIcon {     
    -webkit-text-stroke: 0.7px #013e73 !important;
    font-weight: 700 !important;
}

.sidebarBgLandscape {       
    box-shadow: inset -40px 0 40px -16px;
    background: #0c3a82 !important;
    margin-top: 0px!important;
}

.sidebarBgPortrait {
    opacity: 1;
    padding-top: 0.1vh;
    box-shadow: inset -20px 0 20px -10px;
    background: #0c3a82 !important;
}

ul li a {
    transition: .5s;
}

ul li a:hover {
    color: #ffa502;
    text-shadow: 0 0 30px #d35400;
}
</style>
<aside ng-controller="sideMenuCtrl" class="container-" style="{{orientationPortrait == true ? 'margin-top: 2.5px;width: 58vw' : 'margin-top: 12.5px;width: 70vw'}};z-index: 997!important;position: fixed;left:0;font-size: 1.5rem;padding-bottom: 50px">
    <div
        id="sidebar"
        class="-nav-collapse"
        style="width: 100%;"
        ng-class="orientationPortrait == false ? 'sidebarBgLandscape' : 'sidebarBgPortrait'"
        ng-nicescroll
        nice-option="{cursorcolor: '#82ACD3'}"
    >
        <ul class="sidebar-menu blurred-box-" style="margin-left: 1%;{{orientationPortrait == true ? 'margin-top: 0.5rem;' : 'margin-top: 0.25rem;'}}">
            <li class="menuItem" ng-class="activeClass == 'Bars' ? 'active' : ''" style="border-style: none!important;transition: none!important;transform: scale(1.0)!important">
                <a
                    href=""
                    ng-click="doSideMenu()"
                    id="bars"
                    style="border-color: transparent;"
                >
                    <span class="fa-stack fa-2x-">
                        <i ng-class="this.activeClass == 'Bars' ? 'activeIcon' : ''" style="font-size: 1.5rem;color: red;padding-right: 0.5rem;" class="btnFg fa fa-bars fa-stack-1x tooltips sideBarIcon">
                            <div class="btnFg"></div>
                        </i>
                    </span>
                </a>
            </li>
            <!-- <li class="menuItem" ng-class="activeClass == 'Saved' ? 'active' : ''" style="margin-top: 1.15vh;">
                <a
                    class=""
                    href=""
                    
                    style="border-color: transparent;"
                >
                    <span class="fa-stack fa-2x-">
                        <i ng-class="this.activeClass == 'Saved' ? 'activeIcon' : ''" style="font-size: 1.5rem;padding-right: 0rem;" class="btnFg fa fa-diamond make-transparent fa-stack-1x tooltips sideBarIcon">
                            <div class="hoverEffect btnFg sideBarText" ng-class="orientationPortrait == false ? 'sideBarTextLandscape' : 'sideBarTextPortrait'" style="">{{activeClass == 'Saved' ? 'Saved' : 'Sim'}}</div>
                        </i>
                    </span>
                </a>
            </li> -->
            <li class="menuItem" ng-class="activeClass == 'Saved' ? 'active' : ''" style="margin-top: 1.15vh;">
                <a class="" href="" style="border-color: transparent;">
                    <span class="fa-stack fa-2x-">
                        <div ng-class="this.activeClass == 'Saved' ? 'activeIcon' : ''" style="font-size: 1.5rem;padding-right: 0.5rem;" class="btnFg fa-stack-1x tooltips sideBarIcon">
                            <img
                                id=""
                                width="40px"
                                height="40px"
                                src="img/logo.png"
                                style="padding: 2.5px;"
                            >
                            <div class="hoverEffect btnFg sideBarText" ng-class="orientationPortrait == false ? 'sideBarTextLandscape' : 'sideBarTextPortrait'" style="font-weight: 700!important;font-family: calibri, 'sans-serif';-webkit-text-fill-color: white;-webkit-text-stroke: 0 black;">
                                Saved
                            </div>
                        </div>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</aside>
<script>
    $(document).ready(function () {
      
    });
</script>
