<style>
    .main-contentsPortrait {
        margin-left: 13vw !important;
        width: 87.5vw !important;
        padding-bottom: 2.5vh !important;
        box-shadow: inset -40px 0 40px -20px;
    }

    .main-contentsLandscape {
        margin-left: 22.5vw !important;
        width: 77.5vw !important;
        padding-bottom: 5vh !important;
    }

    #title {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        color: #FFF;
        text-align: center;
        font-family: "lato", sans-serif;
        font-weight: 300;
        font-size: 50px;
        letter-spacing: 10px;
        margin-top: -60px;
        padding-left: 10px;
    }

    #title span {
        background: -webkit-linear-gradient(white, #38495a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


    .chevron-left {
        float: left;
        margin-left: 1.5%;
        padding: 0px;
        margin-top: -3.5px;
    }


    u {
        text-align: center !important;
    }

    #textBox {
        background-color: #fb7303;
        line-height: 1.7rem;
        width: 62.5vw;
        margin-left: 22.5vw;
        height: 21.5vh;
        margin-top: 2.5vh;
        opacity: 0.8;
        border-radius: 0.5rem;
        letter-spacing: 0.1rem;
        text-align: center;
        color: black;
        font-size: 1.5rem;
        font-weight: 300;
        text-transform: uppercase;
        padding: 0.25rem 0.5rem 0 0.5rem;
    }

    .arrow {
        font-size: 5rem;
        color: white;
        opacity: 0.8;
        margin-left: 10vw;
    }

    .box {
        display: inline-block;
        /* border-radius: 0.15rem; */
        width: 25.75vw;
        height: 7.5vh;
        margin-top: 0.75vh;
        background-color: transparent;
        margin-left: 2vw;
        margin-right: 0rem;
    }

    .boxText {
        margin-top: 0.9vh;
        /* border-radius: 0.25rem; */
        font-size: 1.5rem !important;
        ;
        font-weight: 900 !important;
        ;
        color: #fa6502 !important;
        text-shadow: -1px -1px 0 black;
        -webkit-text-stroke: 0.7px #090a0f;
    }

    .btn-3 {
        border: none;
        box-shadow: 0px 2px 0 white, 2px 4px 6px whitesmoke;
        font-weight: 900;
        letter-spacing: 1px;
        transition: all 150ms linear;
        line-height: 2.5rem;
    }

    .btn-3:hover {
        box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
        color: whitesmoke;
        text-decoration: none;
        text-shadow: -1px -1px 0 white;
        transition: all 250ms linear;
    }

    .topToolBarBgLandscape {
        background: white;
        padding-bottom: 0.9vh !important;
        /* height: 11.5vh; */
    }

    .topToolBarBgPortrait {
        background: white;
    }

    .animateLandscape {
        width: 75vw !important;
        height: 95.5vh !important;
        left: 2.75vw !important;
    }


    .animatePortrait {
        width: 100vw !important;
        height: 90vh !important;
        left: -5.5vw !important;
        margin-top: -2.25vh;
    }

    div a:hover {
        color: #ffa502;
        /* box-shadow: 0 0 15px #d35400!important; */
        text-shadow: 0 0 15px #d35400 !important;
    }

    p {
        /* animation: neonGlow 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); */
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 22px rgba(255, 255, 255, 0.8), 0 0 40px rgba(255, 255, 255, 0.8), 0 0 60px rgba(255, 255, 255, 0.8), 0 0 80px rgba(255, 255, 255, 0.5), 0 0 100px rgba(255, 255, 255, 0.5), 0 0 140px rgba(255, 255, 255, 0.5), 0 0 200px rgba(255, 255, 255, 0.5);
    }
    .pointer-link {
            cursor: pointer!important;
        }
    h3 {
        text-align: center;
    }

</style>

<div class="navbar-fixed-top header"
    ng-class="orientationPortrait == false ? 'topToolBarBgLandscape' : 'topToolBarBgPortrait'"
    style="position: fixed;padding-left: 1.25rem">

    <div id="box1" style="display: inline-block;margin-top: 7px;width: 45vw;">
        <div class="btnFg navText" style="font-size: 0.5rem;display: inline-block;margin-top: 0.75rem;padding-right: 3vw;">
           WIP
        </div>

        <div class="pull-left row">
            <div class="chevron-left" style="text-align: center">
                <a id="Uploadwindow" href="">
                    <span class="fa-stack fa-2x-" style="font-size: 1.5rem;">
                        <i class="fa fa-home fa-stack-1x makeTransparent tooltips  btnBg btnFg"
                            style="margin-top: 0.1rem;"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>

    <div id="box2" style="display: inline-block;{{orientationPortrait == true ? 'width:25vw;' : 'width:25vw;'}}">
        <div style="text-align: center;padding-left: 0.25vw;">
            <img class=""
                style="{{orientationPortrait == true ? 'width:25vw;margin-top: 0rem;' : 'width:25vw;margin-top: 0.159rem;'}};"
                src="img/logoname.png">
        </div>

    </div>

    <div class="pull-right btnFg" style="display: inline-block;margin-top: 0.25rem;">

    </div>
</div>

<!-- container section start -->
<section id="container" class="" data-ng-init="loadMainMenuCurrntActiveClass('Wip')"
    style="


   
background: radial-gradient(ellipse at bottom, #0b76f0 0%, #090a0f 100%);
        style="
  background: url('img/logolarge.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  "

>
    <!------------ Start Header ---------------->

    <div class="title" data-ng-init="loadCurrntOrgPageTitle('Wip')"></div>
    <div ng-include="'header.html'"></div>
    <!------------ End Header ----------------->

    <!------------ Start Side Nav Bar ---------------->
    <div ng-include="'sidebar.html'"></div>
    <!------------ End Side Nav Bar ----------------->

    <!--main content start
    
        background: radial-gradient(ellipse at bottom, #e4e7eb 0%, #e4e7eb 100%);
    
        {{orientationPortrait == true ? 'box-shadow: inset 20px 0 40px -15px' : 'box-shadow: inset 72.5px 0 40px -16px'}}

    -->
    <div id="main-contents" ng-class="orientationPortrait == false ? 'main-contentsLandscape' : 'main-contentsPortrait'"
        style="height: 142.5vh;">

        <div id="" class="details-panel" style="height: 142.5vh;margin-top: 9.5vh;overflow: hidden;">

            <div ng-class="orientationPortrait == false ? 'animateLandscape' : 'animatePortrait'" class="animate">
            
				<div style="width: 50vh">

	<h3 style="margin-top: 3.5vh;">Location<br>2994</h3>
	
						
                    <img class="" style="border-radius: 3.5%;width: 82.5vw;margin-top: 1.5vh;margin-left: 2.25vw; opacity: 0.9;" src="img/logolarge.png">
			
				<br>
				
					<div style="width 50vh">
			
                        <br>
						<a class="pointer-link" id="" href="" target="_blank" rel="noopener noreferrer">
							

				<h3><b>SAFE</b></h3>
	
						</a>
			
			<p style="text-align: center">Last check: 15 seconds ago</p>
					</div>
			
				</div>
            
        </div>
    </div>
    </div>

</section>

<script>
    setTimeout(function () {

        var mql;
        mql = window.matchMedia("(orientation: portrait)");
        // If there are matches, we're in portrait
        if (mql.matches) {
            console.log("Portrait");
            $("#arrows").css('margin-left', '0!important');
        } else {
            console.log("Landscape");
            $("#arrows").css('margin-left', '-5.5%!important');
        }

    }, 1000);

</script>